---
  - hosts: nodes
    become: yes
    become_user: root
    remote_user: centos

    tasks:
      - name: Synchronization
        copy:
          src: roles/docker-installation/conf/
          dest: "/opt/docker-conf/"
          owner: root
          group: root
          mode: 0644
        become: true